/*******************/
/*** Product Css ***/
/*******************/

.image {
    position: relative;/*相対配置*/
}

.image button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.image p {
    position: absolute;
    top: 0;
    left: 0;
}

.image img {
    width: 100%;
}
